# Cle RapidAPI - https://rapidapi.com/ (Free API Live Football Data)
RAPIDAPI_KEY=

# Cible BigQuery
GCP_PROJECT=
BQ_DATASET=football_data
BQ_RAW_TABLE=transfers_raw

# Nombre de pages API par execution
EXTRACT_PAGES=10
