# Credentials sensibles
.env
credentials.json
profiles.yml
.dbt/
.user.yml

# Environnement Python
.venv/
venv/
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/

# Dashboard local (trop volumineux / pas pertinent sur GitHub)
*.pbix
../csv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# API Keys
RAPIDAPI_KEY=861fcd799fmshb22fb42bd6add54p1949d4jsn2071aea71eaa